
RotatorPinguoinProject/RotatorWekinatorProject/current/currentData.arff
RotatorPinguoinProject/RotatorWekinatorProject/current/models/model0.xml
RotatorPinguoinProject/RotatorWekinatorProject/inputConfig.xml
RotatorPinguoinProject/RotatorWekinatorProject/outputConfig.xml
RotatorPinguoinProject/RotatorWekinatorProject/RotatorWekinatorProject.wekproj
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/cv2.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_calib3d.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_calib3d.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_calib3d.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_calib3d_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_contrib.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_contrib.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_contrib.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_contrib_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_core.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_core.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_core.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_core_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_features2d.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_features2d.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_features2d.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_features2d_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_flann.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_flann.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_flann.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_flann_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_gpu.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_gpu.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_gpu.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_gpu_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_haartraining_engine.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_highgui.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_highgui.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_highgui.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_highgui_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_imgproc.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_imgproc.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_imgproc.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_imgproc_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_java245.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_legacy.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_legacy.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_legacy.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_legacy_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_ml.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_ml.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_ml.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_ml_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_nonfree.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_nonfree.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_nonfree.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_nonfree_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_objdetect.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_objdetect.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_objdetect.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_objdetect_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_calib3d_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_core_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_features2d_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_gpu_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_highgui_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_imgproc_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_nonfree_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_objdetect_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_photo_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_stitching_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_superres_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_perf_video_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_photo.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_photo.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_photo.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_photo_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_stitching.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_stitching.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_stitching.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_stitching_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_superres.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_superres.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_superres.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_superres_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_calib3d_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_contrib_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_core_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_features2d_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_flann_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_gpu_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_highgui_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_imgproc_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_legacy_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_ml_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_nonfree_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_objdetect_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_photo_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_stitching_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_superres_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_test_video_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_ts.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_ts.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_ts.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_ts_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_video.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_video.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_video.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_video_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_videostab.so
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_videostab.so.2.4
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_videostab.so.2.4.5
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/arm7/libopencv_videostab_pch_dephelp.a
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgio-2.0-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libglib-2.0-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgmodule-2.0-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgobject-2.0-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstapp-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstaudio-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstbase-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstbasevideo-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstcdda-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstcontroller-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstdataprotocol-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstfft-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstinterfaces-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstnet-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstnetbuffer-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstpbutils-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstphotography-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstreamer-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstriff-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstrtp-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstrtsp-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstsdp-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstsignalprocessor-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgsttag-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgstvideo-0.10-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libgthread-2.0-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libiconv-2.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libintl-8.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libjpeg-8.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libogg-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/liborc-0.4-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/liborc-test-0.4-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libpng14-14.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libtheora-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libtheoradec-1.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libtheoraenc-1.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libvorbis-0.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libvorbisenc-2.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libvorbisfile-3.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/libxml2-2.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/opencv-245.jar
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/opencv_java245.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/opencv_processing.jar
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/oscP5.jar
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstadder.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstadpcmdec.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstadpcmenc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstaiff.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstalaw.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstalpha.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstalphacolor.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstannodex.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstapetag.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstapp.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstasfmux.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstaudioconvert.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstaudiofx.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstaudioparsers.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstaudiorate.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstaudioresample.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstaudiotestsrc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstauparse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstautoconvert.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstautodetect.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstavi.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstbayer.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstcamerabin.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstcdxaparse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstcog.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstcoloreffects.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstcolorspace.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstcoreelements.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstcoreindexers.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstcutter.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdataurisrc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdebug.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdebugutilsbad.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdecodebin.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdecodebin2.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdeinterlace.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdirectdrawsink.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdirectsoundsink.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdirectsoundsrc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdtmf.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdvbsuboverlay.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstdvdspu.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgsteffectv.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstencodebin.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstequalizer.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstfestival.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstffmpeg.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstffmpegcolorspace.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstffmpegscale.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstfieldanalysis.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstflv.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstflxdec.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstfragmented.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstfreeze.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstfrei0r.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstgaudieffects.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstgdp.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstgeometrictransform.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstgio.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstgoom.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstgoom2k1.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstgsettingselements.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgsth264parse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgsthdvparse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgsticydemux.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstid3demux.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstid3tag.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstimagefreeze.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstinterlace.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstinterleave.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstinvtelecine.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstisomp4.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstivfparse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstjp2kdecimator.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstjpeg.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstjpegformat.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstlegacyresample.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstlevel.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstliveadder.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmatroska.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmpeg4videoparse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmpegdemux.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmpegpsmux.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmpegtsdemux.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmpegtsmux.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmpegvideoparse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmulaw.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmultifile.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmultipart.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmve.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstmxf.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstnavigationtest.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstnsf.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstnuvdemux.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstogg.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstpatchdetect.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstpcapparse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstplaybin.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstpng.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstpnm.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstpostproc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstrawparse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstreal.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstreplaygain.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstrfbsrc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstrtp.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstrtpmanager.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstrtpmux.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstrtpvp8.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstrtsp.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstscaletempoplugin.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstsdi.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstsdpelem.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstsegmentclip.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstshapewipe.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstsiren.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstsmpte.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstspectrum.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstspeed.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgststereo.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstsubenc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstsubparse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgsttheora.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgsttta.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgsttypefindfunctions.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstudp.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideobox.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideocrop.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideofilter.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideofiltersbad.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideomaxrate.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideomeasure.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideomixer.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideoparsersbad.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideorate.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideoscale.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideosignal.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvideotestsrc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvmnc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvolume.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstvorbis.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstwavenc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstwavparse.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgstwinks.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgsty4mdec.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/plugins/libgsty4menc.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/video.jar
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/VideoInput_FaceDetection_Processing_3Inputs.jar
VideoInput_FaceDetection_Processing_3Inputs_Win64/lib/zlib1.dll
VideoInput_FaceDetection_Processing_3Inputs_Win64/source/Face.pde
VideoInput_FaceDetection_Processing_3Inputs_Win64/source/VideoInput_FaceDetection_Processing_3Inputs.java
VideoInput_FaceDetection_Processing_3Inputs_Win64/source/VideoInput_FaceDetection_Processing_3Inputs.pde
VideoInput_FaceDetection_Processing_3Inputs_Win64/VideoInput_FaceDetection_Processing_3Inputs.exe
Wekinator_Penguin_Rotator_2ContinuousOutputs/.DS_Store
Wekinator_Penguin_Rotator_2ContinuousOutputs/.vs/ProjectSettings.json
Wekinator_Penguin_Rotator_2ContinuousOutputs/.vs/slnx.sqlite
Wekinator_Penguin_Rotator_2ContinuousOutputs/.vs/VSWorkspaceState.json
Wekinator_Penguin_Rotator_2ContinuousOutputs/.vs/Wekinator_Penguin_Rotator_2ContinuousOutputs/v15/.suo
Wekinator_Penguin_Rotator_2ContinuousOutputs/.vs/Wekinator_Penguin_Rotator_2ContinuousOutputs/v15/Browse.VC.db
Wekinator_Penguin_Rotator_2ContinuousOutputs/.vs/Wekinator_Penguin_Rotator_2ContinuousOutputs/v15/ipch/AutoPCH/17659c34568dea90/OFAPP.ipch
Wekinator_Penguin_Rotator_2ContinuousOutputs/.vs/Wekinator_Penguin_Rotator_2ContinuousOutputs/v15/ipch/AutoPCH/975f2fcb7bedd1c3/MAIN.ipch
Wekinator_Penguin_Rotator_2ContinuousOutputs/.vs/Wekinator_Penguin_Rotator_2ContinuousOutputs/v15/ipch/AutoPCH/cf451fc04d7947a0/OFAPP.ipch
Wekinator_Penguin_Rotator_2ContinuousOutputs/.vs/Wekinator_Penguin_Rotator_2ContinuousOutputs/v15/ipch/AutoPCH/fefd12e1e4ed4c33/MAIN.ipch
Wekinator_Penguin_Rotator_2ContinuousOutputs/.vs/Wekinator_Penguin_Rotator_2ContinuousOutputs/v15/Solution.VC.db
Wekinator_Penguin_Rotator_2ContinuousOutputs/addons.make
Wekinator_Penguin_Rotator_2ContinuousOutputs/bin/.DS_Store
Wekinator_Penguin_Rotator_2ContinuousOutputs/bin/assimp32.dll
Wekinator_Penguin_Rotator_2ContinuousOutputs/bin/assimp64.dll
